{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1>Games List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Developer</th>
                 <td>
                    <a href="{% url 'game-create' %}" class="btn btn-success">Добавить игру</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.developer }}</td>
                    <td>
                        <a href="{% url 'game-info' game.id %}" class="btn btn-danger">Посмотреть игру</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
