{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1>Posts</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Author game</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr id="post-{{ post.id }}">
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.genre }}</td>
                    <td>{{ post.developer }}</td>
                    <td>
                        {% if post.difficulty == post.PEGI_EASY %}
                            Easy
                        {% elif post.difficulty == post.PEGI_MEDIUM %}
                            Medium
                        {% elif post.difficulty == post.PEGI_HARD %}
                            Hard
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'game-delete' post.id %}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}