{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1>Список игр</h1>
    <form method="get">
        <div class="d-flex align-items-center">
            <div class="form-group mr-3">
                <label for="search_name">Имя:</label>
                <input type="text" id="search_name" name="search_name" class="form-control" placeholder="Имя" value="{{ request.GET.search_name }}">
            </div>
            <div class="form-group mr-3">
                <label for="search_genre">Жанр:</label>
                <input type="text" id="search_genre" name="search_genre" class="form-control" placeholder="Жанр" value="{{ request.GET.search_genre }}">
            </div>
            <div class="form-group mr-3">
                <label for="search_difficulty">Сложность:</label>
                <select id="search_difficulty" name="search_difficulty" class="form-control">
                    <option value="">Выберите сложность</option>
                    <option value="easy" {% if request.GET.search_difficulty == 'easy' %}selected{% endif %}>easy</option>
                    <option value="medium" {% if request.GET.search_difficulty == 'medium' %}selected{% endif %}>medium</option>
                    <option value="hard" {% if request.GET.search_difficulty == 'hard' %}selected{% endif %}>hard</option>
                </select>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="sort_by">Сортировать по:</label>
                <select id="sort_by" name="sort_by" class="form-control mb-2">
                    <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>Имя</option>
                    <option value="difficulty" {% if request.GET.sort_by == 'difficulty' %}selected{% endif %}>Сложность</option>
                    <option value="genre" {% if request.GET.sort_by == 'genre' %}selected{% endif %}>Жанр</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="sort_order">Порядок сортировки:</label>
                <select id="sort_order" name="sort_order" class="form-control mb-2">
                    <option value="asc" {% if request.GET.sort_order == 'asc' %}selected{% endif %}>Возрастание</option>
                    <option value="desc" {% if request.GET.sort_order == 'desc' %}selected{% endif %}>Убывание</option>
                </select>
            </div>
            <div class="col-auto align-self-end">
                <button type="submit" class="btn btn-primary mb-2">Применить</button>
            </div>
            <div class="col-auto align-self-end">
                <a href="{% url 'index' %}" class="btn btn-secondary mb-2">Сбросить</a>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Сложность</th>
                <th>Жанр</th>
                <td>
                    <a href="{% url 'game-create' %}" class="btn btn-success">Добавить игру</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.get_difficulty_display }}</td>
                    <td>{{ game.genre }}</td>
                    <td>
                        <a href="{% url 'game-info' game.id %}" class="btn btn-danger">Посмотреть игру</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}




